
.product_count_popup
  position: absolute
  border-radius: 4px
  background-color: #fff
  box-shadow: 0 0 10px rgba(0,0,0,0.5)

.counter_form
  &__grid
    .table__row
      height: 30px

  &__title
    margin-bottom: 16px
    padding: 20px 20px 0
    color: #006599
    font-size: 15px
    font-weight: bold

  &__buttons
    font-size: 12px
    padding: 20px 20px
    a
      margin-right: 22px
